# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Data caches & large downloads
data/processed/*.parquet
data/processed/*.csv
*.zip
*.tar.gz

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
